@use '@nubisco/ui/styles';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--nb-font-family-sans);
  color: var(--nb-c-text);
  background: var(--nb-c-bg);
}
